<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="/assets/login.css">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="login">
            <div class="form">
            
            <form action="/auth/login" method="POST"> 
                <div class="form-content">
                    <h1>Log In</h1>
            <div class="label-1">
            <label for="email">Email</label>
            <input type="text"  name="email" required>
            </div>
        <div class="label-2">
            <label for="password">Password</label>
            <input type="password"  name="password" required>
        </div>
        <div class="button">
            <button type="submit">Login</button>
        </div>
        <div class="sign-up">
            <p> No account?</p>
            <a href="/auth/signup">Create one</a>
        </div>
    </div>
        </form>
        
    
    </div>
        <div class="form-img">
            <div class="form-img-content">
            <h1>OfficeSeek</h1>
            <p>Registering and checking status of applications have never been easier.
                OfficeSeek allows you to register and post queries that will be sent digitally to  ward offices 
                in your area. Get your work done quickly and effectively.
                
            </p>
        </div>
            
            
            
        </div>
    </div>
        <script src="" async defer></script>
    </body>
</html>
