<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
</head>
<body>
    <!-- <a href="/">Enter the OTP</a>
    <input>
    <button>Submit</button> -->
    <form action="/" method="GET"> 
       
          
    <div >
    <label for="otp">Enter the OTP sent to your email</label>
    <input type="text"  name="otp" required>
    </div>

<div class="button">
    <button type="submit">Complete sign-up</button>
 </div>




</form>
    
</body>
</html>